.section-title {
  position: relative;
  margin-bottom: 10px;
  font-family: OpenSans;
  font-weight: 700;
  color: #2c2e37;
  text-transform: uppercase;

  &:before {
    content: '';
    position: absolute;
    top: -34px;
    width: 81px;
    height: 7px;
    background: url("../img/decor/waves.png") center center / cover;
  }

  &_small {
    font-size: 20px;
    line-height: 2.1365;
    letter-spacing: 1.4px;

    &:before {
      left: 0;
    }
  }

  &_big {
    margin-bottom: 70px;
    font-size: 30px;
    line-height: 1.42;
    text-align: center;
    letter-spacing: 1.6px;

    &:before {
      left: 47%;
    }
  }
}