footer.footer
    .footer__left
        .copyright All right reserved 2015
    .footer__middle
        .socials
            ul.socials__list
                li.socials__item
                    a.socials__link.socials__link_twitter(href="#")
                li.socials__item
                    a.socials__link.socials__link_facebook(href="#")
                li.socials__item
                    a.socials__link.socials__link_vk(href="#")
    .footer__right
        .phone 1 234 243 123