footer.footer
    .container
        .footer__left
            .copyright All right reserved 2015
        .footer__middle
            .socials
                ul.socials__list
                    li.social__item.social__item_twitter
                        a.social__link(href="#")
                    li.social__item.social__item_facebook
                        a.social__link(href="#")
                    li.social__item.social__item_vk
                        a.social__link(href="#")
        .footer__right
            .phone 1 234 243 123