header.header
    .container
        .header__left
            h1.logo Mount
                span.logo__span ains
            include ../components/_navbar
        .header__right
            a.btn.btn_call(href="tel:1234243123") Call us