section.about-us
    .container
        .about-us__left
            .section-title.section-title_small About us
            .about-us__desc Aliquam sed posuere urna, et gravida nisl. Praesent interdum nisl libero,, pretium egestas purus eleifend vitae. Mauris susciput vel lectus at luctus.
            a.btn.btn_about-us(href="#") Read more
        .about-us__right
            .about-us__big-photo
                img.about-us__big-image(src="img/content/about-us.jpg")
            .about-us__small-photo
                img.about-us__small-image(src="img/content/about-us-2.jpg")