section.gallery
    .container
        h3.section-title.section-title_big Gallery
        ul.gallery__list
            li.gallery__item.gallery__item_left
                img.gallery__image.gallery__image_1(src="img/content/gallery-1.jpg" alt="Gallery photo 1")
                img.gallery__image.gallery__image_4(src="img/content/gallery-4.jpg" alt="Gallery photo 2")
            li.gallery__item.gallery__item_middle
                img.gallery__image.gallery__image_2(src="img/content/gallery-2.jpg" alt="Gallery photo 3")
                img.gallery__image.gallery__image_5(src="img/content/gallery-5.jpg" alt="Gallery photo 4")
            li.gallery__item.gallery__item_right
                img.gallery__image.gallery__image_3(src="img/content/gallery-3.jpg" alt="Gallery photo 5")
                img.gallery__image.gallery__image_6(src="img/content/gallery-6.jpg" alt="Gallery photo 6")