section.intro
    include ../parts/_header
    .container
        .mountains
            .mountains__title Travel with us
            .mountains__title-bottom to the Mountains
            .mountains__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eismod tempor incidid
            a.btn.btn_order(href="#") Order now