section.intro
    include ../parts/_header
    .container
        .welcome
            h2.welcome__title Travel with us
            .welcome__title-bottom to the Mountains
            .welcome__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eismod tempor incidid
            a.btn.btn_go-to-order(href="#") Order now