section.journal
    .container
        .section-title.section-title_big Our journal
        ul.notes
            li.notes__item.notes__item_love
                img.notes__image(src="img/content/journal-1.jpg")
            li.notes__item.notes__item_text-block
                .notes__theme Love
                .notes__title Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                .notes__desc You know how to make best coffee in the universe? Or, maybe you're very good in designing gloves? Tell everyone about your experience and skills.
                .notes__page 01
            li.notes__item.notes__item_water
                img.notes__image(src="img/content/journal-2.jpg")
            li.notes__item.notes__item_text-block
                .notes__theme Tree
                .notes__title Lorem ipsum dolor sit amet, consectetur adipisicing elit
                .notes__desc The way to a successful brand is hard, but always is very interesting. Share the full story of your project - from the very first day until now.
                .notes__page 02
            li.notes__item.notes__item_tree
                img.notes__image(src="img/content/journal-3.jpg")
            li.notes__item.notes__item_text-block
                .notes__theme Water
                .notes__title Little pieces of our proudness
                .notes__desc What do you do better than your competitors? What are you proud of? What details and advantages of your product you want people to know about?
                .notes__page 03