section.order
    .container
        h2.section-title.section-title_small Do you wanna go?
        .order__desc Aliquam sed posuere urna, et gravida nisl. Praesent interdum nisl libero, pretium egestas purus eleifend vitae. Mauris suscipit vel lectus at luctus.
        form.order-form
            input.order-form__name(name="name" placeholder="Your name")
            input.order-form__phone(name="phone" placeholder="Your phone")
            input.btn.btn_order(type="submit" value="Order now")
        .order__remark *Your data will not be transferred
        .order__trees
            img.order__trees-image(src="img/content/order.png" alt="Trees")