section.travel
    .container
        .section-title.section-title_big.section-title_mountains Travel with us
        ul.mountains
            li.mountains__item.mountains__item_carpathian
                .mountains__stars
                    img.mountains__stars-image(src="img/decor/4-stars.png")
                .mountains__text
                    .mountains__name Carpathian
                    .mountains__desc Lorem ipsum dolor si amet, consectetur adip
                .mountains__price
                    .mountains__price-old 3150$
                    .mountains__price-current $793
            li.mountains__item.mountains__item_alps
                .mountains__stars
                    img.mountains__stars-image(src="img/decor/5-stars.png")
                .mountains__text
                    .mountains__name Alps
                    .mountains__desc Lorem ipsum dolor si amet, consectetur adip
                .mountains__price
                    .mountains__price-old 3150$
                    .mountains__price-current $1893
            li.mountains__item.mountains__item_pyrenees
                .mountains__stars
                    img.mountains__stars-image(src="img/decor/5-stars.png")
                .mountains__text
                    .mountains__name Pyrenees
                    .mountains__desc Lorem ipsum dolor si amet, consectetur adip
                .mountains__price
                    .mountains__price-old 3150$
                    .mountains__price-current $2593
            li.mountains__item.mountains__item_rocky
                .mountains__stars
                    img.mountains__stars-image(src="img/decor/5-stars.png")
                .mountains__text
                    .mountains__name Rocky
                    .mountains__desc Lorem ipsum dolor si amet, consectetur adip
                .mountains__price
                    .mountains__price-old 3150$
                    .mountains__price-current $2123
            li.mountains__item.mountains__item_kavkaz
                .mountains__stars
                    img.mountains__stars-image(src="img/decor/3-stars.png")
                .mountains__text
                    .mountains__name Kavkaz
                    .mountains__desc Lorem ipsum dolor si amet, consectetur adip
                .mountains__price
                    .mountains__price-old 3150$
                    .mountains__price-current $593