section.work
    .container
        .section-title.section-title_big How we work
        ul.work__list
            li.work__item
                .work__number 1
                img(src="img/content/work-1.png").work__image
                .work__theme Lorem ipsum dolor sit
                .work__desc amet, consectetur adipisicing elit, sed do eismod tempor incididunt
            li.work__item
                .work__number 2
                img(src="img/content/work-2.png").work__image
                .work__theme Lorem ipsum dolor sit
                .work__desc amet, consectetur adipisicing elit, sed do eismod tempor incididunt
            li.work__item
                .work__number 3
                img(src="img/content/work-3.png").work__image
                .work__theme Lorem ipsum dolor sit
                .work__desc amet, consectetur adipisicing elit, sed do eismod tempor incididunt
            li.work__item
                .work__number 4
                img(src="img/content/work-4.png").work__image
                .work__theme Lorem ipsum dolor sit
                .work__desc amet, consectetur adipisicing elit, sed do eismod tempor incididunt