nav.nav
    ul.nav__list
        li.nav__item
            a.nav__link(href="#") About us
        li.nav__item
            a.nav__link(href="#") Journal
        li.nav__item
            a.nav__link(href="#") Order
        li.nav__item
            a.nav__link(href="#") How we work
        li.nav__item
            a.nav__link(href="#") Travel
        li.nav__item
            a.nav__link(href="#") Gallery
        li.nav__item
            a.nav__link(href="#") Reviews
        li.nav__item
            a.nav__link(href="#") Subscribe